
* {
    min-width: 0px;
}

body {
    font-family: 'Comfortaa';
    font-size: 16px;
}
p, li {
    line-height: 1.5;
}

pre code {
    max-height: unset;
}

.container {
    padding: 20px 10px;
}

.heading {
    font-size: 22px;
    font-weight: bold;
}

#sticky {
    position: sticky;
    top: 0px;
    background: var(--b1);
    padding: 10px 0px;
}

.draft {
    border: 1px solid var(--b2);
    border-radius: 20px;
    padding: 10px;
    background: var(--b0);
}

#input {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.3;
    resize: none;
    outline: none;
}

.interaction {
    border-radius: 20px;
    background: var(--b2);
    border: 1px solid var(--b3);
}
.interaction .content {
    padding: 15px;
    padding-bottom: 13px;
}
.interaction.collapsed .content {
    display: none;
}
.interaction .content .user {
    color: var(--f3);
}
.interaction .content .header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.interaction .content .response.error {
    color: var(--red3);
}
.interaction .topbar {
    padding: 8px;
    border-bottom: 1px solid var(--b3);
}
.interaction .topbar .btn.secondary {
    --bg: var(--b4);
    --bgHover: var(--b5);
    --bgActive: var(--f4);
}
.interaction.collapsed .topbar {
    border: none;
}