#uiScroll .header {
    color: var(--fg2);
    font-size: 18px;
    margin: 20px 0px 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg2);
}

#uiScroll .tiles {
    /* max 3 items per row, collapse down to 1 responsively */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

#uiScroll .btn {
    background: var(--bg2);
    height: auto;
    padding: 10px 12px 12px 12px;
    color: var(--fg1);
    justify-content: flex-start;
    gap: 12px;
    margin-top: 2px;
    white-space: normal;
    overflow: visible;
}
#uiScroll .btn:hover,
#uiScroll .btn:focus-visible {
    background: var(--bg3);
}
#uiScroll .btn:active {
    background: var(--bg4);
}
#uiScroll .btn .icon {
    flex-shrink: 0;
    font-size: 32px;
}
#uiScroll .btn .text {
    line-height: 1.4;
}
#uiScroll .btn .title {
    font-weight: bold;
    color: white;
    font-size: 18px;
}